sudo: required
services:
    - docker

language: generic 
    
before_install:
    - docker build -t ihskas/react-test -f ./client/Dockerfile.dev ./client

script:
    #- docker run -e CI=true ihskas/react-test npm test
    - docker run ihskas/react-test npm test -- --coverage


after_success:
    - docker build -t ihskas/multi-client ./client
    - docker build -t ihskas/multi-nginx ./nginx
    - docker build -t ihskas/multi-server ./server
    - docker build -t ihskas/multi-worker ./worker
    # push images to dockerhub
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    - docker push ihskas/multi-client
    - docker push ihskas/multi-nginx
    - docker push ihskas/multi-server
    - docker push ihskas/multi-worker